.episode {
    box-sizing: border-box;
    border: 3px solid black;
    width: 300px;
    height: 260px;
    padding: 5px 10px 0 22px;
    background-color: #282C55;
    margin: 10px;
}

.episode:hover {
    font-weight: bold;
}

.episode-image:hover{
    margin:auto;
    height: 145px;
}


@media  only screen and (max-width: 768px){
    .episode {
        margin: auto;
    }
  }
